* {
	scroll-behavior: smooth;
}
body {
   margin: 0;
   padding: 0; 
}
/*Customize Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px; /* thickness of bar*/
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #343a40; /*change mo nalang color nung sa likod nung bar*/
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4e9e95; /*color mismo nung scrollbar*/
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #343a40; /*color nung hover nung bar*/
  }
.footer{
	background-color: #343a40;
    padding: 30px 0;
    box-shadow: 0px 0px 3px 0px #343a40;
    bottom: 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #4e9e95;
	height: 2px;
	box-sizing: border-box;
	width: 50%;
}
.footer-col h6{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    margin-left: -30px;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 5px 10px 5px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.logo_footer img {
    width: 200px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}


/*Responsive Footer*/
@media(max-width: 1000px){
  .footer-col{
    width: 50%;
    margin-bottom: 10px;
}
.logo_footer img {
    width: 200px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}
.first_slide h1 {
	font-size: 30px;
	padding-right: 150px;
}
.first_slide .webdd {
	font-size: 15px;
}
.second_slide h1 {
	font-size: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    align-items: center;
    text-align: center;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #4e9e95;
	height: 2px;
	box-sizing: border-box;
	width: 100%;
}
.logo_footer img {
    width: 200px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}
.first_slide h1 {
	font-size: 17px;
	text-align: center;
	padding-right: 0px;
}
.first_slide .webdd {
	font-size: 12px;
	text-align: center;
}
.first_slide .quote {
	font-size: 20px;
	text-align: center;
	color: #5ddadb;
}
.first_slide .button_about {
	font-size: 12px;
	
}
.my_image img {
	width: 220px;
	text-align: center;
	margin: 110px;
	margin-left: 10px;
	margin-right: 80px;
}
.my_gif img {
	width: 220px;
	text-align: center;
	margin: 110px;
	margin-left: 15px;
	margin-right: 80px;
}
.resume {
	text-align: center;
}
.third_slide h1 {
	font-size: 17px;
	text-align: center;
	padding-right: 0px;
}
.third_slide .webdd {
	font-size: 12px;
	text-align: center;
}
.web_tech {
	width: 50%;
}
}
.footer-col .last {
    color: #fff;
}
.last {
	margin-top: 10px;
}

/*Type Animation*/
.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .10em solid #4e9e95; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	  typing 3.5s steps(50, end),
	  blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #4e9e95; }
  }
  /*Fade Animation*/
  .fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.fade-in-text {
	animation: fadeIn linear 3s;
	-webkit-animation: fadeIn linear 3s;
	-moz-animation: fadeIn linear 3s;
	-o-animation: fadeIn linear 3s;
	-ms-animation: fadeIn linear 3s;
  }
  
  @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }